page-get-api-tutorial {

    img.demo {
        // box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        width: 100%; 
        margin: auto;
    }

    ion-card {
        background-color: rgba(200, 200, 200, 1);
    }

}
