<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title text-center>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="api_key != null && api_key == ''">
    <ion-card-header color="cmu-red">
      <h1>First time user? <br> Forget to set the API key?</h1>
    </ion-card-header>
      
    <ion-card-content>
      You need an <strong>indico</strong> API to use this app! Here's a tutorial on how to obtain an API key as a new user: <br>
      <ion-icon name="link"></ion-icon>&nbsp;<strong (click)="goToTutorialPage()">How to Get an API Key?</strong> <br><br>
      Make sure you come back to the home page to start reading! Have fun! 
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="platform != null && platform == 'android' && cleverdox_status != null && cleverdox_status == false">
      <ion-card-header color="cmu-red">
        <h1>Android User?</h1>
      </ion-card-header>
        
      <ion-card-content>
        Please head over to your app store and install <strong><a href="market://details?id=de.sitewaerts.cleverdox.viewer" (click)="setCleverdoxStatus(true)">cleverdox Viewer</a></strong>. Then you'll be able to view original pdf documents.
      </ion-card-content>
    
    </ion-card>

  <ion-card padding *ngIf="api_key != null && api_key == ''">
    <h1>Enter paper link</h1>
    <p>Please input the url of the paper you want to read:</p>
      
    <ion-item>
      <ion-textarea autoresize="150" type="text" [(ngModel)]="paper_url" class="selectable" placeholder="Paper (PDF) URL"></ion-textarea>
    </ion-item>
    

    <br><br>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block (click)="pasteFromClipboard()" small color="secondary">
            <ion-icon name="clipboard"></ion-icon>&nbsp; Paste 
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block (click)="pasteFromClipboard()" small color="danger">
            <ion-icon name="clipboard"></ion-icon>&nbsp; clear
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block (click)="checkApiAndGoToPaperDetail()" style="font-size: 1.3em;">
            <ion-icon name="glasses"></ion-icon>&nbsp; Read
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <ion-card padding *ngIf="api_key != null && api_key != ''">
    <h1>Enter paper link</h1>
    <p>Please input the url of the paper you want to read:</p>
      
    <ion-item>
      <ion-textarea autoresize="150" type="text" [(ngModel)]="paper_url" class="selectable" placeholder="Paper (PDF) URL"></ion-textarea>
    </ion-item>
    

    <br><br>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block (click)="pasteFromClipboard()" small color="secondary">
            <ion-icon name="clipboard"></ion-icon>&nbsp; Paste 
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block (click)="clearInputBox()" small color="danger">
            <ion-icon name="trash"></ion-icon>&nbsp; clear
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block (click)="checkApiAndGoToPaperDetail()" style="font-size: 1.3em;">
            <ion-icon name="glasses"></ion-icon>&nbsp; Read
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div padding *ngIf="api_key != null && api_key != ''">
    <h1>Recent:</h1>
    <ion-list>
      <ion-item-sliding *ngFor="let url of urls; let i = index" [ngClass]="{'dont-display': i >= recent_count}" #slidingItem>
        <ion-item text-wrap (click)="selectPaperUrl(url.url);">
          {{ url.title }}
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deletePaper(url.url, slidingItem)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  
</ion-content>
